header .logo-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo-container .logo-desktop {
  max-width: 100%;
  max-height: 50vh;
}
.cat-container img {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-container img {
  max-width: 100%;
  max-height: 50vh;
}
