// Homepage

#intro {
	display: block;
	margin: -10% auto 0 auto;
	background: @orange;
	color: @grey;
}
#supporter {
	background: @grey;
	color: @purple;
	margin: 0 auto;
	width: 100%;
	padding: 10% 15%;
}
#organizer {
	background: @orange;
	width: 80%;
	margin: 0 auto;
}
#organizer h3 {
	letter-spacing: 0.35rem;
	text-align: center;
}
