@container-width-px: 950px;

// COLOR VARS

@yellow-orange: #7fff00;
@licorice: #1C1118;
@flame: #00ffff;
@saddle-brown: #ff4500;
@light-gray: #D6D6D5;
@wine: #cc3333;

// COLOR POINTERS

@nav-link-color: @wine;

@main-font-color: @licorice;
@header-font-color: @wine;

@footer-background: @wine;

@btn-bg-color: @yellow-orange;

// MEDIA QUERY VARS

@mobile: ~"(max-width: 500px)";
